 /*
 * 图表基础组件
 */
<template>
  <div class="">

  </div>
</template>

<script>
export default {
    data() {
         return {

         }
    },
    methods: {},
    components: {},
    computed: {},
    watch: {},
    mounted(){},
    created(){}
}
</script>

<style lang="scss" scoped>

</style>
