<template>
  <div id="app">
    <header v-show="show">
      <div class="page-container head">
        <span class="f20">Hello {{name}}</span>
        <span class="logout" @click="logoutFunc">logout</span>
      </div>
    </header>
    <router-view class="content"/>
    <footer>
      <p>copyright©️2020</p>
    </footer>
  </div>
</template>

<script>
export default {
  data(){
    return {
      show: true,
      name: ''
    }
  },
  watch: {
    $route(to){
      if(to.name == 'Login'){
        this.show = false;
      }else{
        this.show = true;
      }
      if(sessionStorage.getItem('userData')){
        let user = JSON.parse(sessionStorage.getItem('userData'));
        this.name = user.user;
      }
    }
  },
  methods: {
    // 登出
    logoutFunc(){
      this.$router.push('/login')
      sessionStorage.removeItem('userData')
      sessionStorage.removeItem('userType')
    }
  },
  mounted(){
    if(sessionStorage.getItem('userData')){
      let user = JSON.parse(sessionStorage.getItem('userData'));
      this.name = user.user;
    }
  }
}

</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .content{
    flex-grow: 1;
  }
}
.page-container{
  width: 90%;
  margin: 0 auto;
}
.f20{
  font-size: 20px;
}
.logout{
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
}
.head{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  width: 100%;
  height: 60px;
  color: #fff;
  background: linear-gradient(to right, #4b79a1, #283e51);
}
footer{
  padding: 20px 0;
  text-align: center;
}
</style>
