html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    color: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}
/**
 * Remove default margin.
 */

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
body{
	::-webkit-input-placeholder { /* WebKit browsers */
		font-family: 'Source Sans Pro', sans-serif;
			color:    #fff;
		font-weight: 300;
    font-size: 14px;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-family: 'Source Sans Pro', sans-serif;
		color:    #fff;
		 opacity:  1;
		font-weight: 300;
    font-size: 14px;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-family: 'Source Sans Pro', sans-serif;
		 color:    #fff;
		 opacity:  1;
		font-weight: 300;
    font-size: 14px;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-family: 'Source Sans Pro', sans-serif;
		 color:    #fff;
		font-weight: 300;
    font-size: 14px;
	}
}
body{ margin:0px; font-family:"微软雅黑"; color:#666; line-height:normal;}
input{ padding:0; border:0; outline:none; font-family:"微软雅黑"; color:#666; tap-highlight-color:rgba(204,204,204,0); -webkit-tap-highlight-color:rgba(204,204,204,0);}
textarea{ resize:none; outline:none; font-family:"微软雅黑"; tap-highlight-color:rgba(204,204,204,0); -webkit-tap-highlight-color:rgba(204,204,204,0);}
a{ text-decoration:none; color:#666; tap-highlight-color:rgba(204,204,204,0); -webkit-tap-highlight-color:rgba(204,204,204,0);}
h1,h2,h3,h4,h5,h6{ margin:0; line-height:normal;}
ul,li,dl,dt,dd,p,figure{ margin:0px; padding:0px;}
li{ list-style:none;}
input:disabled{
    background-color: #fff;
    opacity: 1;
    color: #999;
}
