 /*
 * 主页面
 */
<template>
<div class="main">
  <h1>NYC Taxi Data Analysis</h1>

    <!-- pick user type -->
    <div class="mask" v-show="userType == ''">
      <div class="type-box">
        <div class="types" @click="selectTypeFunc('Operator')">I'm a Operator</div>
        <div class="types" @click="selectTypeFunc('Driver')">I'm a Driver</div>
      </div>
    </div>

    <p class="reset" @click="reset" v-show="userType != ''">Reselect User Type</p>

    <!-- for operator -->
    <div v-if="userType == 'Operator'" class="container">
    <section class="flex-50">
      <h3 class="title">Top 10 Areas of Taxi Demand in 1 Hour</h3>
      <p class="subtitle">Most of the yellow taxi operations are in Manhattan. Taxis tend to flock to denser area.</p>
      <p class="loading" v-show="loading1">loading....</p>
      <div id="chart1" class="chart"></div>
    </section>

    <section class="flex-50">
      <h3 class="title">Trend of demand in 1 Month</h3>
      <p class="subtitle">show trend of demand in 1 month.</p>
      <p class="loading" v-show="loading2">loading....</p>
      <div id="chart2" class="chart"></div>
    </section>

    <section class="flex-100">
      <h3 class="title">Trend of Demand today</h3>
      <p>
        <input class="chart-input" type="text" v-model.trim="locationId" placeholder="please enter location id here">
        <input class="chart-input" style="margin-left:10px;" type="text" v-model.trim="day" placeholder="please enter day number here">
        <button @click="getChart3" class="chart-btn">confirm</button>
      </p>
      <p class="loading" v-show="loading3">loading....</p>
      <div id="chart3" class="chart"></div>
    </section>

    <section class="flex-50">
      <h3 class="title">WeekDay's Demand in 1 Month</h3>
      <p>
        <input class="chart-input" type="text" v-model.trim="locationId2" placeholder="please enter location id here">
        <button @click="getChart4" class="chart-btn">confirm</button>
      </p>
      <p class="loading" v-show="loading4">loading....</p>
      <div id="chart4" class="chart"></div>
    </section>
    </div>

    <!-- for driver -->
    <div v-if="userType == 'Driver'" class="container">
      <section class="">
        <h3 class="title">Top 10 Areas of Taxi Demand in 10 Min Drive Distance</h3>
        <p class="subtitle">you can pick up </p>
        <p class="loading" v-show="loading5">loading....</p>
        <div id="chart5" class="chart"></div>
      </section>
    </div>

</div>
</template>

<script>
const data1 = require('@json/data1');
const data2 = require('@json/data2');
const data3 = require('@json/data3');
const data4 = require('@json/data4');
const data5 = require('@json/data5');
import echarts from 'echarts';
import DataSet from '@antv/data-set';
import baseChart from '@components/baseChart';
import {
  Chart
} from '@antv/g2';
export default {
  data() {
    return {
      userType: '', // Operator/Driver
      locationId: '',
      locationId2: '',
      day: '',
      chart1: null,
      chart2: null,
      chart3: null,
      chart4: null,
      chart5: null,
      chart1Data: [],
      chart2Data: [],
      chart3Data: [],
      chart4Data: [],
      chart5Data: [],
      loading1: false,
      loading2: false,
      loading3: false,
      loading4: false,
      loading5: false,
      month: new Date().getMonth() + 1,
      weekday: ['Sun.', 'Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.']
    }
  },
  methods: {
    async getChart1(){
      this.loading1 = true;
      let res = await this.$ajax.get('/curhourbylocations10');
      this.loading1 = false;
      if(res) this.chart1Data = res.data;
      this.chart1Data.forEach(item=>{item.PULocationID = item.PULocationID+''})
      // setTimeout(()=>{
      //   this.chart1.data(data1.data);
      //   this.chart1.render();
      // }, 1000)
      // if exits , just change data
      if(this.chart1){
        return this.chart1.changeData(this.chart1Data)
      }
      this.chart1 = new Chart({
        container: 'chart1',
        autoFit: true,
        width: 300,
        height: 300
      });

      this.chart1.data(this.chart1Data);
      this.chart1.axis('PULocationID', {
        title: null,
        tickLine: null,
        line: null,
      });
      this.chart1.axis('group_COUNT', {
        label: null,
        title: null,
        line: null
      });
      this.chart1.legend(false);
      this.chart1.coordinate().transpose().reflect('y');
      this.chart1.axis('PULocationID',{
        offset: -10,
        style: {
          fill: '#f00'
        }
      });
      this.chart1
        .interval()
        .position('PULocationID*group_COUNT')
        .size(15)
        .label('group_COUNT', {
          style: {
            fill: '#fff',
          },
          offset: -8,
        })
        .tooltip('PULocationID*group_COUNT*total_amount_AVG*travel_speed_AVG*travel_time_AVG');
      this.chart1.interaction('element-active');
      this.chart1.render();
    },
    async getChart2(){
      this.loading2 = true;
      let res = await this.$ajax.get('/curmonthbyday');
      this.loading2 = false;
      if(res) this.chart2Data = res.data;
      // setTimeout(()=>{
      //   this.chart2.data(data2.data);
      //   this.chart2.render();
      // }, 1000)
      // if exits , just change data
      if(this.chart2){
        return this.chart2.changeData(this.chart2Data)
      }
      // chart2
      this.chart2 = new Chart({
        container: 'chart2',
        autoFit: true,
        width: 300,
        height: 300
      });

      this.chart2.data(this.chart2Data);

      this.chart2.tooltip({
        showCrosshairs: true
      });

      this.chart2.scale('pickup_day', {
        formatter: val => `${this.month}-${val>=10?val:'0'+val}`,
        tickCount: 30
      });

      this.chart2.line().position('pickup_day*group_COUNT')
      .tooltip('pickup_day*group_COUNT*total_amount_AVG*travel_speed_AVG*travel_time_AVG');
      this.chart2.point().position('pickup_day*group_COUNT');
      this.chart2.render();
    },
    async getChart3(){
      // if exits ,clear first
      if(this.chart3){
        this.chart3.clear();
      }
      this.loading3 = true;
      let res = await this.$ajax.get(`/curhourbylocandday?loc=${this.locationId}&day=${this.day}`);
      this.loading3 = false;
      if(res) this.chart3Data = res.data;
      // setTimeout(()=>{
      //   this.chart3.data(data3.data);
      //   this.chart3.render();
      // }, 1000)
      // if exits , just change data
      if(!this.chart3){
        this.chart3 = new Chart({
          container: 'chart3',
          autoFit: true,
          width: 300,
          height: 300
        });
      }
      this.chart3.data(this.chart3Data);
      this.chart3.scale('pickup_hour', {
        range: [0.02, 0.98],
        nice: true,
        formatter: val => `${val>=10?val:'0'+val}:00`,
        tickCount: 24,
      });

      this.chart3.tooltip({
        showMarkers: false,
      });
      this.chart3.interval().position('pickup_hour*group_COUNT')
      .tooltip('pickup_hour*group_COUNT*total_amount_AVG*travel_speed_AVG*travel_time_AVG');
      this.chart3.interaction('element-active');

      this.chart3.render();
    },
    async getChart4(){
      // if exits ,clear first
      if(this.chart4){
        this.chart4.clear();
      }
      this.loading4 = true;
      let res = await this.$ajax.get(`/curweekdaybyloc?loc=${this.locationId2}`);
      this.loading4 = false;
      if(res) this.chart4Data = res.data;
      this.chart4Data.forEach(item=>{
        item.pickup_weekdays = this.weekday[item.pickup_weekday]
      });
      // setTimeout(()=>{
      //   data4.data.forEach(item=>{
      //     item.pickup_weekdays = this.weekday[item.pickup_weekday]
      //   });
      //   this.chart4.data(data4.data);
      //   this.chart4.render();
      // }, 1000)
      // if exits , just change data
      if(!this.chart4){
        this.chart4 = new Chart({
          container: 'chart4',
          autoFit: true,
          width: 300,
          height: 300
        });
      }
      this.chart4.data(this.chart4Data);
      this.chart4.coordinate('polar');
      this.chart4.axis(false);

      this.chart4.interaction('element-highlight');
      this.chart4
        .interval()
        .position('pickup_weekdays*group_COUNT')
        .label('pickup_weekdays', {
          offset: -15,
        })
        .style({
          lineWidth: 1,
          stroke: '#fff',
        })
        .color('pickup_weekdays')
        .tooltip('pickup_weekdays*group_COUNT*total_amount_AVG*travel_speed_AVG*travel_time_AVG');;
      this.chart4.render();
    },
    async getChart5(){
      this.loading5 = true;
      let res = await this.$ajax.get('/demand10');
      this.loading5 = false;
      if(res) this.chart5Data = res.data;
      this.chart5Data.forEach(item=>{item.PULocationID = item.PULocationID+''})
      // setTimeout(()=>{
      //   data5.data.forEach(item=>{item.PULocationID = item.PULocationID+''})
      //   this.chart5.data(data5.data);
      //   this.chart5.render();
      // }, 1000)
      // if exits , just change data
      if(this.chart5){
        return this.chart5.changeData(this.chart5Data)
      }
      this.chart5 = new Chart({
        container: 'chart5',
        autoFit: true,
        width: 300,
        height: 300
      });

      this.chart5.data(this.chart5Data);
      this.chart5.axis('PULocationID', {
        title: null,
        tickLine: null,
        line: null
      });
      this.chart5.axis('group_COUNT', {
        label: null,
        title: null,
        line: null
      });

      this.chart5.legend(false);
      this.chart5.coordinate().transpose().reflect('y');
      this.chart5
        .interval()
        .position('PULocationID*group_COUNT')
        .size(15)
        .label('group_COUNT', {
          style: {
            fill: '#fff',
          },
          offset: -8,
        })
        .tooltip('PULocationID*group_COUNT*total_amount_AVG*travel_speed_AVG*travel_time_AVG');
      this.chart5.interaction('element-active');
      this.chart5.render();
    },
    selectTypeFunc(type){
      this.userType = type;
      sessionStorage.setItem('userType', type)
      if(type == 'Operator'){
        this.$nextTick(()=>{
          this.getChart1();
          this.getChart2();
          this.getChart3();
          this.getChart4();
        })
      }else if(type == 'Driver'){
        this.$nextTick(()=>{
          this.getChart5()
        })
      }
    },
    reset(){
      this.userType = '';
      this.chart1 = null;
      this.chart2 = null;
      this.chart3 = null;
      this.chart4 = null;
      this.chart5 = null;
      sessionStorage.removeItem('userType')
    }
  },
  components: {baseChart},
  computed: {},
  watch: {},
  mounted() {
    if(sessionStorage.getItem('userType')){
      // this.selectTypeFunc(sessionStorage.getItem('userType'))
    }
  },
  created() {

  }
}
</script>

<style lang="scss" scoped>
h1 {
    padding-top: 30px;
    text-align: center;
}
.reset{
  text-align: center;
  color: #999;
  cursor: pointer;
  margin-bottom: 30px;
  text-decoration: underline;
}
section{
  margin-bottom: 20px;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.flex-50{
  flex: 0 0 50%;
}
.flex-100{
  flex: 0 0 100%;
}
.title {
    text-align: left;
    font-size: 27px;
}
.chart {
    margin: 20px 10px;
    box-sizing: border-box;
    min-height: 300px;
}
.subtitle {
    color: #999;
    text-align: left;
}
.chart-input{
  border: 1px solid #eae8e9;
  padding: 0 5px;
  height: 40px;
  width: 200px;
  margin-top: 10px;
  line-height: 40px;
  border-radius: 3px;
  color: #666;
}
.chart-input::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
}
.chart-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999;
}
.chart-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
}
.chart-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999;
}
.chart-btn{
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  outline: none;
  color: #fff;
  background-color: #3e7bba;
  &:active{
    opacity: .7;
  }
}
.main{
  position: relative;
}
.mask{
  // background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.type-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .types{
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-right: 40px;
    border-radius: 10px;
    color: #409eff;
    background-color: rgba(255,255,255,.8);
    border: 1px solid #6db5fe;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover{
      background-color: #6db5fe;
      color: #fff;
    }
  }
}
.loading{
  color: #666;
  text-align: left;
  padding: 20px;
  color: #999;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  from {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}
</style>
