 /*
 * 登录界面
 */
<template>
<div class="wrapper">
  <div class="container">
    <h1>Hello</h1>
    <form class="form">
      <input type="text" placeholder="Please enter username" v-model="form.user">
      <input type="password" placeholder="Please enter password" v-model="form.psw">
      <button type="submit" @click.active="loginFunc">Login</button>
    </form>
  </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        user: '',
        psw: ''
      }
    }
  },
  methods: {
    // 登录方法
    loginFunc(){
      if(this.form.user != '' && this.form.psw != ''){
        let data = this.form;
        sessionStorage.setItem('userData', JSON.stringify(data));
        this.$router.push('/home')
      }
    }
  },
  components: {},
  computed: {},
  watch: {},
  mounted() {},
  created() {}
}
</script>

<style lang="scss" scoped>
$prim: #53e3a6;
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}
.container {
    width: 400px;
    height: 300px;
    padding: 30px;
    text-align: center;
    background-color: rgba(255,255,255,.2);
    z-index: 2;
    border-radius: 5px;
    h1{
      margin-bottom: 20px;
      color: #fff;
    }
}
form {
    input {
        display: block;
        appearance: none;
        outline: 0;
        border: 1px solid rgba(255,255,255,.4);
        background-color: rgba(255,255,255,.2);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px;
        display: block;
        text-align: center;
        font-size: 18px;
        color: #fff;
        transition-duration: 0.25s;
        font-weight: 300;
        margin-bottom: 20px;
        &:focus {
            background-color: white;
            width: 300px;
            color: #999;
        }
    }
    button {
        outline: 0;
        background-color: white;
        border: 0;
        padding: 10px 15px;
        color: $prim;
        border-radius: 3px;
        width: 220px;
        cursor: pointer;
        font-size: 18px;
        // transition-duration: 0.25s;
        transition: transform 0.25s ease-in-out;
        margin-top: 20px;
        &:hover {
            background-color: rgb(245, 247, 249);
        }
        &:active{
          transform: scale(.9);
        }
    }
}
</style>
